appnope==0.1.0 # For IPython
backcall==0.1.0 # For IPython
cycler==0.10.0 # For MatPlotLib
decorator==4.3.0 # For IPython
ipython==7.1.0 ## FOR SHELL
ipython-genutils==0.2.0 # For IPython
jedi==0.13.1 # For IPython
kiwisolver==1.0.1 # For MatPlotLib
matplotlib==3.0.1 ## FOR PLOTTING (SHELL)
numpy==1.15.3 # For SciPy, OpenCV-Python, AND MatPlotLib
parso==0.3.1 # For IPython
pexpect==4.6.0 # For IPython
pickleshare==0.7.5 # For IPython
prompt-toolkit==2.0.6 # For IPython
ptyprocess==0.6.0 # For IPython
Pygments==2.2.0 # For IPython
pyparsing==2.2.2 # For SVGwrite AND MatPlotLib
python-dateutil==2.7.5 # For MatPlotLib
six==1.11.0 # For PyTest AND MatPlotLib
traitlets==4.3.2 # For IPython
wcwidth==0.1.7 # For IPython
